@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,600;0,700;1,600&display=swap');

* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

/* root */
:root {
  --top-color: rgb(235, 235, 235);
}

/* classe flex */
.flex {
  display: flex;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  justify-content: center;
}

/* estrutura do corpo */
body {
  padding: 20px;
}

/* corpo da carta */
.carta {
  box-shadow: 5px 10px 20px rgba(0, 0, 0, 0.596);
  overflow: hidden;
  margin: 10px;
  background-color: brown;
  border-radius: 8px;
  width: 512px;
  height: 900px;
}

/* cabeca da carta */
.cabeca {
  background-color: aqua;
  width: 100%;
  height: 110px;
}

.original div {
  z-index: 9;
}

.circulo {
  margin-top: -60px;
  position: relative;
  font-size: 80px;
  font-weight: 700;
  color: rgb(228, 228, 228);
  width: 120px;
  height: 120px;
  background-color: rgb(36, 36, 36);
  border-radius: 120px 120px 120px 0;
}

.retangulo {
  justify-content: flex-end;
  position: relative;
  width: 100%;
  height: 60px;
  background-color: var(--top-color);
}

.retangulo span {
  margin-right: 40px;
  color: rgb(22, 22, 22);
  font-size: 35px;
  text-shadow: 2px 2px 0px rgba(87, 87, 87, 0.514);
}

.shadow {
  position: relative;
}

.shadow div {
  background-color: rgb(36, 36, 36);
  margin-top: -15px;
}

/* rodape da carta */
.rodape {
  background-color: blueviolet;
  width: 100%;
  height: 90px;
}
